output*
cache
messages
*.xlsx
*.xls
*.ods
*.svg
*.pdf
*.json
__pycache__
fonts
*.prof
.venv
errors
tests

!config_example.json
!config_messages_example.json
!base_minif.svg
!base_fusex.svg
!test_scraper.py
!demo_scraper.py